header {
  height: 100px;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 10;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
  }

  .logo {
    width: 42px;

    img {
      width: 100%;
    }
  }
}
