.hero {
  max-width: 90vw;
  margin: 0 auto;
  margin-top: 20vh;

  .hero-image {
    clip-path: inset(0% 32%);
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 5em;

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }
}
