.nav-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;

  .nav-list {
    max-width: 70%;
    background-color: green;
    list-style-type: none;
    padding: 0 2em;

    .nav-item {
      text-align: center;
      overflow: hidden;
      background-color: lightblue;
    }
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: calc(1rem + 5.15vw);
    background-color: lightcoral;

    span {
      display: block;
      font-size: 60px;

      &:first-child {
        transform: translateY(140px);
        font-weight: 900;
      }

      &:last-child {
        font-weight: 200;
        transform: rotateX(-90deg);
      }
    }
  }
}
