h1 {
  text-transform: uppercase;
  text-align: center;
  line-height: 1.02;
  letter-spacing: -2px;
  transform: scaleX(1.1);
  max-width: 100%;
  pointer-events: none;
}

.text-thin {
  font-size: 6rem;
  font-weight: 200;
}

.text-bold {
  font-size: 6rem;
  font-weight: 900;
}
